*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(255, 0, 0);
    height: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-bottom:10px;
}

.Zeal{ 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-center{ 
    display: flex;
    align-items: center;
    justify-content: center;
}





header{ 
    background-color:rgb(0, 0, 0);
    

}

nav ul li{
    list-style: none;
    padding: 24px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

nav{
    display: flex;
    align-items: center;

}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
    padding: 0 25px;


}


.container{
    min-height: calc(100vh - 58px - 12vh );
}

.search{
    display: flex;
    align-items: center;
   
}

.btn{
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border:2px solid white;
    border-radius: 10px;
    cursor:pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.search input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin: 0 25px;
    margin-left: 200px;
    outline:none;
    
    
}

.card-item img{
    padding-right: 50px;
    padding-top: 30px;
}

.cd text{ 
    display: flex;
    padding-right: 50px;
    padding-top: 30px;
}

.lines{ 
    padding-right: 50px;
    padding-top: 30px;
}



.slider{ 

    display: flex;
    width: 100vw;
    justify-content: center;
}

.card-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    

}

.card-item img{ 
    margin: auto;
    padding: 20px;
}

.text-center{
text-decoration: none;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
color: rgb(0, 0, 0);
justify-content:center;
align-items: center;
text-align: center;

}


.my-2{
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 15px;
   font-weight: bold;
   font-size: large;
   padding-bottom: 15px;
   


}

p{ 
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

img.src{ 

    text-align: center;
}

